<template name="home">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <a class="navbar-brand link" href="{{pathFor 'home'}}">{{Config.name}}</a>
                <div id="main-nav" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {{#if User}}
                        {{> userDropdown}}
                        {{else}}
                        <li>
                            <a href="{{pathFor 'atSignIn'}}" class="link">{{_ "login2"}}</a>
                        </li>
                        <li>
                            <a href="{{pathFor 'atSignUp'}}" class="link btn btn-hollow">{{_ "signup"}}</a>
                        </li>

                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section id="intro" class="colored text-center">
        <div class="container">
            <div class="intro-well wow animated bounceIn">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h1>{{Config.title}}</h1>
                        <h2 class="hidden-xs">{{Config.subtitle}}</h2>
                        {{#if User}}
                        <a href="{{pathFor 'dashboard'}}" class="btn btn-success"><i class="fa fa-dashboard"></i> {{_ "dashboard"}}</a>
                        {{else}}
                        <a class="btn btn-hollow" href="{{pathFor 'atSignUp'}}">{{_ "getstarted"}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ipad" class="colored text-center">
        <div class="container">
            <div class="row">
                    <h3>{{_ "section_ipad_header"}}</h3>
                    <p>{{_ "section_ipad_text"}}</p>
                    <p class="text-center">
                    <a href="{{Config.about}}" target="_blank" class="btn btn-success">
                    {{_ "section_ipad_btn"}}
                    </a>
                    </p>
            </div>
        </div>
    </section>
    <section id="how-it-works" class="text-center">
        <div class="container wow fadeIn animated">
            <div class="row col-md-12">
                <h3>{{_ "how"}}</h3>
                <h4>{{Config.name}} - {{Config.subtitle}}</h4>
            </div>
        </div>
        <div class="container">
            <div class="row" id="icon-row">
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="iconbox">
                        <i class="fa fa-female fa-3x"></i>
                    </div>
                    <p class="icnp">{{_ "step_1_text"}}</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                    <div class="iconbox">
                        <i class="fa fa-magic fa-3x"></i>
                    </div>
                    <p class="icnp">{{_ "step_2_text"}}</p>
                </div>
                <div class="col-md-4 wow fadeInUp animated" data-wow-delay="1.2s">
                    <div class="iconbox">
                        <i class="fa fa-wechat fa-3x"></i>
                    </div>
                    <p class="icnp">{{_ "step_3_text"}}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="final" class="colored text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInUp animated" data-wow-delay="0s">
                    <div class="iconbox">
                          <a href="{{pathFor 'education'}}" target="_self">
                            <i class="fa fa-graduation-cap fa-3x"></i>
                        </a>
                    </div>
                    <p class="icnp">{{_ "education_btn"}}</p>
                </div>
                <div class="col-md-3 wow fadeInUp animated" data-wow-delay="0s">
                    <div class="iconbox">
                        <a href="{{pathFor 'mentorship'}}" target="_self">
                        <i class="fa fa-wechat fa-3x"></i>
                        </a>
                    </div>
                    <p class="icnp">{{_ "mentorship_btn"}}</p>
                </div>
                <div class="col-md-3 wow fadeInUp animated" data-wow-delay="0s">
                    <div class="iconbox">
                        <a href="{{pathFor 'professional'}}" target="_self">
                        <i class="fa fa-briefcase fa-3x"></i>
                        </a>
                    </div>
                    <p class="icnp">{{_ "career_btn"}}</p>
                </div>
                <div class="col-md-3 wow fadeInUp animated" data-wow-delay="0s">
                    <div class="iconbox">
                        <a href="{{pathFor 'qandcalendar'}}" target="_self">
                        <i class="fa fa-question-circle fa-3x"></i>
                        </a>
                    </div>
                    <p class="icnp">{{_ "ama_btn"}}</p>
                </div>
            </div>
        </div>
    </section>
</template>
