<template name="education">
    <section id="education-intro" class="colored text-center">
        <div class="container">
            <div class="row">
                <h1>{{_ "education_intro_header"}}</h1>
                <p>{{_ "education_intro"}}</p>
            </div>
            <div class="row">
                <h2>{{_ "top_public_schools"}}</h2>
                <p>{{_ "public_school_list"}}</p>
            </div>
            <div class="row">
                <h2>{{_ "open_scholarships"}}</h2>
                <p>{{_ "scholarships_list"}}</p>
            </div>
        </div>

    </section>
</template>
