<template name="mentorship">

  <div class="container">
      <div class="row">
          <div class="col-md-6 wow fadeInUp animated" data-wow-delay="0s">
              <div class="iconbox">
                    <a class = "round-section-btn" href="{{pathFor 'mentee'}}" target="_blank">
                      <i class="fa fa-graduation-cap fa-3x"></i>
                  </a>
              </div>
              <p class="icnp">{{_ "mentee_btn"}}</p>
          </div>
          <div class="col-md-6 wow fadeInUp animated" data-wow-delay="0s">
              <div class="iconbox">
                  <a class = "round-section-btn" href="{{pathFor 'mentor'}}" target="_blank">
                  <i class="fa fa-wechat fa-3x"></i>
                  </a>
              </div>
              <p class="icnp">{{_ "mentor_btn"}}</p>
          </div>
      </div>
  </div>



</template>
